.main-content{
    margin: 0px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.main-content h1{
    color: rgb(253, 133, 21);
}

.apre{
    padding: 0 2%;
    background-color: rgb(44, 44, 44);
    width: 55%;
}

.skills{
    padding: 0 2%;
    background-color: rgb(44, 44, 44);
    width: 35%;
}

.skills h1{
    color: rgb(253, 133, 21);
}

.skills .habi{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.skills .habi i{
    margin-bottom: 25px;
    font-size: 55px;
    transition: .5s;
}
.skills .habi i:hover{
    color: gray;
}
.skills .habi .fa-git-alt{
    color: #d22d2d;
}
.skills .habi .fa-github{
    color: #ffffff;
}

.skills .habi .fa-html5{
    color: #f5742a;
}

.skills .habi .fa-css3-alt{
    color: #0050db;
}

.skills .habi .fa-square-js{
    color: #ffea00;
}

.skills .habi .fa-php{
    color: #67439d;
}

.skills .habi .fa-react{
    color: #1cbbe3;
}

.skills .habi .fa-database{
    color: rgb(253, 133, 21);
}
